/* Container to center the button */
.popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
}

/* Button styling */
.popup_button_customs {
    border: 0;
    outline: 0;
    border-radius: 320px;
    padding: 12px;
    background-color: #c1c2bd !important;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #80807d;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    width: 300px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #333333 !important;
}

.popup_button_customs:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #80807d;
}

/* Modal background overlay */
.js-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex; /* Center the modal */
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none; /* Prevent interaction when hidden */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
}

/* Modal background when visible */
.js-modal.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

/* Modal content styling */
.js-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    max-width: 600px;
    width: 100%;
    transform: scale(0.7);
    transition: transform 0.3s ease;
}

/* Modal content scaling effect when visible */
.js-modal.show .js-modal-content {
    transform: scale(1);
}

/* Close button styling */
.js-modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.js-modal-content p {
    color: #333333 !important;
}
